=navbar class: 'custom-navbar' do 
    = navbar_header brand: t("nav-brand-name", default: "public records"), brand_link:'/'
    = navbar_collapse do
        = navbar_group align: 'right' do 
            = navbar_item t("nav-about", default: "about"), '/about'
            = navbar_item t("nav-artists", default: "artists"), '/artists'
            = navbar_item t("nav-events", default: "events"), '/events'
            = navbar_item t("nav-music", default: "music"), 'https://public-records.bandcamp.com'